**/kaggle/input
**/myenv
**/kaggle/input
myenv
*.pt
*.pth
**/models
**/backbone
**/model
*.csv
*.pyc
*.npy
*.log
*.txt
**/sato
**/wandb
*.pkl
**/output.ipynb
**/output
**/output*
**/config.py
*.h5
**/extract_fold_results.py
**/ver_*
mitsui
make-data-count-finding-data-references
cmi-detect-behavior-with-sensor-data
